# Игнорировать локальные бинарные файлы
bin/
*.test
*.out

# Игнорировать папки и файлы конфигурации IDE
.vscode/
.idea/
*.swp
*.swo

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать папку vendor, если вы используете управление зависимостями
# vendor/

# Игнорировать файлы локальной конфигурации
.env
