<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7P6QEsH1GhJJzwokK-geLvQlWL92-2yo</string>
	<key>GCM_SENDER_ID</key>
	<string>501294960046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wayofdt.kidneysmart</string>
	<key>PROJECT_ID</key>
	<string>kidneysmart-a0453</string>
	<key>STORAGE_BUCKET</key>
	<string>kidneysmart-a0453.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501294960046:ios:0703d65aadf69f434f4c3f</string>
</dict>
</plist>